<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background: linear-gradient(90deg, #1a1a1a, #333); padding: 12px"
>
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="https://media.licdn.com/dms/image/v2/D4D0BAQEilVRZkCFEeQ/company-logo_200_200/company-logo_200_200/0/1712297863495/waitechnologies_logo?e=2147483647&v=beta&t=tnLUritgtLC-SxEtjc6cRJ_DFK8qLD59o81v4y43DpM"
        alt="Logo"
        width="40"
        height="40"
        class="d-inline-block rounded-circle"
      />
      <span class="mt-1 ms-2">Task Manager App</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/projects']"
            [ngClass]="{ active: isActive('/projects') }"
          >
            Projects
          </a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

      <div
        class="user-box-container mt-1"
        (mouseenter)="onHoverEnter()"
        (mouseleave)="onHoverLeave()"
      >
        <!-- User Icon -->
        <div class="user-icon" (click)="toggleProfileBox()">
          <i
            class="bi bi-person-circle"
            style="font-size: 1.8rem; color: white"
          ></i>
        </div>

        <!-- Profile Box -->
        <div class="profile-box" *ngIf="isProfileBoxVisible">
          <div class="profile-content">
            <img
              src="https://media.istockphoto.com/id/587805156/vector/profile-picture-vector-illustration.jpg?s=612x612&w=0&k=20&c=gkvLDCgsHH-8HeQe7JsjhlOY6vRBJk_sKW9lyaLgmLo="
              alt="User"
              class="profile-image"
            />
            <h6 class="username">{{ username }}</h6>
            <p class="user-email">{{ email }}</p>

            <hr />

            <div class="profile-settings">
              <i class="bi bi-gear"></i>
              <a href="#">Change Profile Settings</a>
            </div>

            <button class="logout-btn" (click)="logout()">LOGOUT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
