<div class="auth-wrapper">
  <div class="auth-box">
    <!-- Left Side: Image -->
    <div class="auth-image">
      <img
        [src]="
          isSignUp
            ? 'https://plus.unsplash.com/premium_photo-1681487814165-018814e29155?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
            : 'https://img.freepik.com/free-vector/access-control-system-abstract-concept_335657-3180.jpg?t=st=1744274592~exp=1744278192~hmac=62f69b2b6134368c5678e30ac8c7d0aabc88b4521a6a7e59de49e5993f9a0553&w=826'
        "
        alt="Auth Image"
      />
    </div>
    <div class="login-container">
      <h2>Task Management System</h2>

      <div class="profile-picture">
        <i class="fas fa-user-circle"></i>
      </div>

      <div *ngIf="!isSignUp">
        <!-- Login Form -->
        <div class="form-group">
          <label for="email">Enter Email or Username: </label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="email"
            placeholder="Enter Email"
            (input)="validateInput()"
            [ngClass]="{ 'is-invalid': showError && !email }"
            id="email"
          />
          <div *ngIf="showError && !email" class="invalid-feedback">
            Please enter a valid email.
          </div>
        </div>

        <div class="form-group">
          <label for="password">Enter Password: </label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="password"
            placeholder="Enter Password"
            (input)="validateInput()"
            [ngClass]="{ 'is-invalid': showError && !password }"
            id="password"
          />
          <div *ngIf="showError && !password" class="invalid-feedback">
            Please enter your password.
          </div>
        </div>

        <button class="btn btn-primary" (click)="login()">Login</button>

        <div *ngIf="showError" class="error-message text-danger mt-2">
          Invalid email or password. Please try again.
        </div>

        <!-- Sign Up Link -->
        <p>
          Don't have an account?
          <a href="javascript:void(0);" (click)="toggleSignUp()">Sign Up</a>
        </p>
      </div>

      <div *ngIf="isSignUp">
        <!-- Sign Up Form -->
        <div class="form-group">
          <label for="signUpEmail">Email</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="signUpEmail"
            placeholder="Enter Email"
            (input)="validateSignUpInput()"
            [ngClass]="{
              'is-invalid': showError && !isValidEmail(signUpEmail)
            }"
            id="signUpEmail"
          />
          <div
            *ngIf="showError && !isValidEmail(signUpEmail)"
            class="invalid-feedback"
          >
            Please enter a valid email (e.g. john.com).
          </div>
        </div>

        <div class="form-group">
          <label for="signUpUsername">Username</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="signUpUsername"
            placeholder="Enter Username"
            [ngClass]="{ 'is-invalid': showError && !signUpUsername }"
            id="signUpUsername"
          />
          <div *ngIf="showError && !signUpUsername" class="invalid-feedback">
            Please enter a username.
          </div>
        </div>

        <div class="form-group">
          <label for="signUpPassword">Password</label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="signUpPassword"
            placeholder="Enter Password"
            (input)="validateInput()"
            [ngClass]="{ 'is-invalid': showError && !signUpPassword }"
            id="signUpPassword"
          />
          <div *ngIf="showError && !signUpPassword" class="invalid-feedback">
            Please enter a password.
          </div>
        </div>

        <button class="btn btn-success" (click)="signUp()">Sign Up</button>

        <!-- Back to Login Link -->
        <p>
          Already have an account?
          <a href="javascript:void(0);" (click)="toggleSignUp()"
            >Back to Login</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
